:root {
  --primary-color: #2349ff;
  --heading-font-family: "Buenos Aires";
  --secondary-color: #fff3f6;
}
body {
  color: #0a0614;
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 32px;
  font-weight: 900;
  margin: 0;
}
p {
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-size: 76px;
  font-weight: 900;
  margin: 0;
}
.hero p {
  font-weight: lighter;
  font-size: 24px;
  margin: 0;
}
.btn-primary {
  background-color: #f26a2c;
  border-color: #f26a2c;
  font-size: 18px;
  font-weight: lighter;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 40px;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-color: #f26a2c;
  color: #f26a2c;
}
.firstSection {
  background-color: #190a46;
  color: #fff;
}
.btn-branding-outline {
  color: #fff;
  background-color: #f26a2c;
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 40px;
}
.btn-branding-outline:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-color: #f26a2c;
  color: #f26a2c;
}
.dark:hover {
  background-color: #190a46;
}
.weather {
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero p {
    font-size: 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .photo {
    margin-bottom: 70px;
    max-width: 80%;
  }
}
.secondSection {
  background-color: var(--secondary-color);
}
.poem {
  margin-top: 30px;
  margin-bottom: 50px;
}
.thirdSection {
  background-color: #190a46;
  color: #fff;
}
.clock {
  margin-top: 30px;
  margin-bottom: 50px;
}
.second {
  background-color: var(--secondary-color);
}
.about-section {
  text-align: left;
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}
.about-section p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}
.about-section-content {
  margin: 30px;
}
